<div class="row">
  <section id="signup">

    <div class="text-center">

      <div id="signup-form" class="text-center">

        <header>
          <h2>Join for Free Now</h2>
        </header>

        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => 'form-horizontal' }) do |f| %>
          <%= devise_error_messages! %>
          <%= f.email_field :email, placeholder: "Email", class: "input-small" %>
          <%= f.password_field :password, placeholder: "Password", class: "input-small" %>
          <%= f.submit "Let's get started!", :class => 'btn btn-primary' %>
      <%end%>

        <header id="existing" class="action text-right">
          <a data-role="existing-user">Already a member?</a>
        </header>
      </div>

      <div id="signin-form" style="display:none" class="text-center">
        <header>
          <h2>Welcome back.</h2>
        </header>

        <%= form_for(User.new, html: { class: "form-inline" }, url: user_session_path) do |f| %>
          <%= f.text_field :email, placeholder: "Email", class: "input-small" %>
        <%= f.password_field :password, placeholder: "Password", class: "input-small" %>
        <%= f.submit "Sign in", :class => 'btn btn-primary' %>
      <%end%>

        <header id="new-user" class="action text-right">
          <a data-role="new-user">New to WeRKD?</a>
        </header>
      </div>

    </div>
  </section>
</div>

<div id="alternative-signup" class="row">
  <%= render partial: "users/shared/links" %>
</div>



