<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<%= render partial: "layouts/opengraph"%>
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>WeRKD <%= content_for?(:title) ? yield(:title) : "" %></title>
<%= stylesheet_link_tag "application", :media => "all" %>
</head>
<body>

<div class="container homepage">

  <%= bootstrap_flash %>
  <div class="werkd-logo row-fluid">
    <div class="span12 text-center">
      <%= link_to root_path do %>
        <%= image_tag "logos/logo_brand.png" %>
    <% end  %>
    </div>
  </div>

  <section id="intro-video">
    <iframe id="intro-video-player" src="http://player.vimeo.com/video/74688795?api=1&amp;player_id=intro-video-player"
      width="800" height="454" frameborder="0"
      webkitallowfullscreen style="display:none"></iframe>

    <div id="intro-text">
      <header class="row-fluid logo">
        <div class="text-center">
          <h1>Project-based, Skill-driven<br>
            Professional Network<br>
            for the Creative Comminities</h1>
        </div>
      </header>

      <div id="play" class="row-fluid text-center">
        <%= image_tag "homepage/play.png"%>
      </div>
      j   </div>
  </section>

  <div class="row-fluid">
    <section class="offset2 span8" id="signup">

      <div class="text-center">

        <div id="signup-form" class="text-center">

          <header>
            <h2>Join for Free Now</h2>
          </header>

          <%= form_for(User.new, html: { class: "form-inline" }) do |f| %>
            <%= f.text_field :email, placeholder: "Email", class: "input-small" %>
          <%= f.password_field :password, placeholder: "Password", class: "input-small" %>
          <%= f.submit "Let's get started!", :class => 'btn btn-primary' %>
        <%end%>

          <header id="existing" class="action text-right">
            <a data-role="existing-user">Already a member?</a>
          </header>
        </div>


        <div id="signin-form" style="display:none" class="text-center">
          <header>
            <h2>Welcome back.</h2>
          </header>

          <%= form_for(User.new, html: { class: "form-inline" }, url: user_session_path) do |f| %>
            <%= f.text_field :email, placeholder: "Email", class: "input-small" %>
          <%= f.password_field :password, placeholder: "Password", class: "input-small" %>
          <%= f.submit "Sign in", :class => 'btn btn-primary' %>
        <%end%>

          <header id="new-user" class="action text-right">
            <a data-role="new-user">New to WeRKD?</a>
          </header>
        </div>

      </div>
    </section>
  </div>

  <div id="alternative-signup" class="row-fluid text-center">
    <%= render partial: "users/shared/links" %>
  </div>


  <section id="distinctions">
    <div class="row-fluid text-center">
      <div class="network span4">
        <%= image_tag "homepage/network.png"%>
        <h4>Network with ease</h4>
        <p>Use shared projects and skills as icebreake.
        No more awkward introductions, shameless schmoozing and empty endorsements!
        </p>
      </div>
      <div class="build span4">
        <%= image_tag "homepage/build.png"%>
        <h4>Build project archive</h4>
        <p>
        Collectively build a sharable archive of projects through the power of creative community. Credit yourself and your peers for the work you have done.
        </p>
      </div>
      <div class="know span4">
        <%= image_tag "homepage/know.png"%>
        <h4>Know your connections</h4>
        <p>Understand people through projects and skills in the right context, and connect with confidence and clarity.
        </p>
      </div>
    </div>
  </section>

</div>
</body>
<script src="http://a.vimeocdn.com/js/froogaloop2.min.js"></script>
<%= javascript_include_tag "home" %>
</html>
