<div class="span8 offset2">

  <div>
    <h2>  <%= current_user.first_name %>'s Dashboard
    </h2>
  </div>

  <div class="well">
    <li>
      <%= link_to "Projects", users_projects_path %>
    </li>
    <li>
      <%= link_to "Connections", users_connections_path %>
    </li>
    <li>
      <%= link_to "Import contacts", users_omnicontacts_path %>
    </li>
    <li>
      <%= link_to "Invite a friend", new_user_invitation_path %>
    </li>
  </div>


</div>

