<div class="container-fluid">
  <div class="span12">
    <h2 style="text-align:center;">  <%= current_user.first_name %> <%= current_user.last_name %></h2>
    <h3 class="text-center job-title">
      <% if current_user.job_title%>
        <%=current_user.job_title%>
      <%else%>
        Unknown
      <%end%>
      <%=link_to "edit", users_profiles_path%>
    </h3>

    <h4 class="text-center location">
      <% if current_user.location%>
        <%=current_user.location%>
      <%else%>
        Unknown
      <%end%>
      <%=link_to "edit", users_profiles_path%>
    </h4>

    <div class="row-fluid">

      <div class="grey-box contacts right">
        <div>
          <%=render partial: "users/dashboards/contacts"%>
        </div>
      </div>

      <div class="grey-box projects">
        <div>
          <%=render template: "users/projects/index"%>
        </div>
      </div>

    </div>
  </div>
</div>
