<%= simple_form_for([:users, @project], html: {novalidate: true}) do |f| %>
  <%= f.input :title,
    hint: "What was your role on this project?",
    input_html: { autofocus: true }
  %>
  <%= f.input :company, hint: "What company was this project for?" %>
  <%= f.input :contribution,
    hint: "(optional) What was your contribution to the project?",
    as: :text
  %>
<%= f.input :tag_list, label: "Tags" %>
<%#= f.association :collaborators,
  as: :select,
  hint: "(optional) Who worked with you on this project"
%>
  <%= f.input :media_url,
    hint: "(optional) Any videos or picture link that visualizes the project",
    input_html:
    { class: "embed-link" }
  %>

<div id="embedly-preview" class="selector-wrapper"></div>

<%= f.input :tagged_user_ids,
  label: "Collaborators",
  hint: "(optional)Tag your collaborators",
  input_html:{
    value: @project.tagged_user_ids.join(",")
  } %>
<%= f.input :start_at,
  label: "Starting",
  hint: "(optional) When did you start working on this project?",
  order: [:month, :year]
%>

  <br/>
  <%= f.submit %>
<% end %>


<% content_for :dom_ready do %>
  <%= stylesheet_link_tag "project" %>
  <%= javascript_include_tag "project"%>
  <script>

    $('document').ready(function () {

      $('.embed-link').preview({
        key: '<%=Figleaf::Settings.embedly.api_key%>',
        error: function (obj) {
          console.log('The URL you entered was not processed.');
        }
      });

      $("#project_tag_list").tokenInput("/tags",
      {
        tokenValue: "name",
        prePopulate: <%=raw(@project.tags.collect{|t|{name: t.name}}.to_json)%>
    });

    $("#project_tagged_user_ids").tokenInput("/users.json",
    {
      hintText: "Type in name or email",
      tokenValue: "id",
      prePopulate: <%=
    raw(@project.tagged_users.collect do |u|
      {
        name: display_user_name(u, @project.creator != current_user) ,
        id: u.id
      }
    end.to_json)
  %>
      });

    });


  </script>

<% end %>
