<div class="project-edit-view row" >
  <div class="row project-edit-content">
    <%= simple_form_for([:users, @project], html: {class: "form-inline"}) do |f| %>
      <div class="span6 project-pane">
        <div class="project">
          <header class="panel-heading">
            <h4>Edit project</h4>
          </header>

          <nav class="navigation">
            <div class="project-tags">
              <ul class="user-skills project-skills">
                <%= f.input 'collaborator_skills', label: "Skills used on this project" do %>
                  <%= text_field_tag 'collaborator_skills', "",
                    label: "Skills used on this project",
                    class: "clearfix", id: "project_collaborator_skills",
                    placeholder: "skillz" %>
                <% end %>
              </ul>
            </div>
          </nav>
          <section class="project-details">
            <%= f.input :title,
              label: "Project title",
              placeholder: "Amazing project",
              wrapper_html: { class: "clearfix"},
              input_html: { autofocus: true } %>
          </section>

          <%= f.input :company,
            label: "Company",
            placeholder: "Awesome company",
            wrapper_html: { class: "right clearfix"} %>
          <div id="embedly-preview" class="selector-wrapper">
            <%= render "preview", project: @project, show_video: true%>

          </div>

          <%= f.input :media_url, placeholder:"link to the image, audio or video of the project",
            wrapper_html: { class: "clearfix"},
            input_html: { class: "embed-link" } %>
          <%= f.input :contribution,
            wrapper_html: { class: "clearfix"},
            placeholder: "I did A and B for C and D part of the project",
            as: :text %>
          <%= f.input :start_at,
            label: "Project date",
            wrapper_html: { class: "clearfix"},
            order: [:month, :year] %>

          <%= link_to "Back", users_dashboards_path, class: "btn action" %>
          <%= f.submit class: "btn action"%>

        </div> <!-- project-details -->
      </div> <!-- span8 -->

      <section id="collaborators" class="project-pane span4">
        <header>
          <h4>Edit collaborators</h4>
        </header>
        <div class="user-dashboard-list-view">
          <ul class="user-dashboard-list-item-views">

            <%= f.input :tagged_user_ids,
              label: "Collaborators",
              placeholder: "Tag people you worked with",
              input_html:{
                value: @project.tagged_user_ids.join(",")
              } %>
          </ul>
          <ul class="user-dashboard-list-item-views">

          </ul>
        </div> <!-- user-dashboard-list-view -->
      </section>
      <br/>

    </div>
  <% end %>
</div> <!-- project-modal-content -->
<div class="background-blocker"></div>
</div>


<% content_for :dom_ready do %>
  <%= stylesheet_link_tag "project" %>
  <%= javascript_include_tag "project"%>
  <script>

    $('document').ready(function () {

      $('.embed-link').preview({
        key: '<%=Figleaf::Settings.embedly.api_key%>',
        error: function (obj) {
          console.log('The URL you entered was not processed.');
        }
      });

      $("#project_collaborator_skills").tokenInput("/tags",
      {
        tokenValue: "name",
        prePopulate: <%=raw( @collaborator_skills)%>
    });

      $("#project_tagged_user_ids").tokenInput("/users.json",
    {
      hintText: "Type in name or email",
      tokenValue: "id",
      prePopulate: <%=
      raw(@project.tagged_users.collect do |u|
        {
          name: display_user_name(u, @project.creator != current_user) ,
          id: u.id
        }
      end.to_json)
    %>
  });

    });


  </script>

<% end %>
