<%= simple_form_for([:users, @project]) do |f| %>
  <%= f.input :tagged_user_ids%>
  <%= f.input :title, hint: "What was your role on this project?" %>
  <%= f.input :company, hint: "What company was this project for?" %>
  <%= f.input :contribution,
    hint: "(optional) What was your contribution to the project?",
    as: :text
  %>
  <%= f.input :tag_list, label: "Tags" %>
  <%#= f.association :collaborators,
    as: :select,
    hint: "(optional) Who worked with you on this project"
  %>
  <%= f.input :media_url,
    hint: "(optional) Any videos or picture link that visualizes the project",
    input_html:
    { class: "embed-link" }
  %>
  <%= f.input :start_at,
    label: "Starting",
    hint: "(optional) When did you start working on this project?",
    order: [:month, :year]
  %>
  <div class="selector-wrapper"></div>

  <br/>
  <%= f.submit %>
<% end %>


<% content_for :dom_ready do %>
  <link rel="stylesheet" href="http://cdn.embed.ly/jquery.preview-0.3.2.css"/>
  <%= stylesheet_link_tag "http://loopj.com/jquery-tokeninput/styles/token-input.css" %>
  <%= stylesheet_link_tag "http://loopj.com/jquery-tokeninput/styles/token-input-facebook.css" %>
  <%= javascript_include_tag "http://cdn.embed.ly/jquery.preview-0.3.2.min.js" %>
  <%= javascript_include_tag "http://cdn.embed.ly/jquery.embedly-2.1.1.min.js" %>
  <%= javascript_include_tag "http://loopj.com/jquery-tokeninput/src/jquery.tokeninput.js"%>
  <script>

    $('document').ready(function () {

      $('.embed-link').preview({
        key: '<%=Figleaf::Settings.embedly.api_key%>',
        error: function (obj) {
          console.log('The URL you entered was not processed.');
        }
      });

      $("#project_tag_list").tokenInput("/tags",
      {
        tokenValue: "name",
        prePopulate: <%=raw(@project.tags.collect{|t|{name: t.name}}.to_json)%>
      });

    });


  </script>

<% end %>
