<div class="project-edit-view row" >
  <div class="row project-edit-content">
    <%= simple_form_for([:users, @project], html: {class: "form-inline"}) do |f| %>
      <div class="span6 project-pane">
        <div class="project">
          <header class="panel-heading">
            <h4>New project</h4>
          </header>

<<<<<<< HEAD
          <nav class="navigation">
            <div class="project-tags">
              <ul class="user-skills project-skills">
                <%= f.input 'collaborator_skills', label: "What did you do on this project?" do %>
                  <%= text_field_tag 'collaborator_skills', "",
                    label: "What skills did you use on this project? ",
                    class: "clearfix", id: "project_collaborator_skills",
                    placeholder: "skills" %>
                <% end %>
              </ul>
            </div>
          </nav>
=======
>>>>>>> 886a86e97b522a612176b1ad8fcc5544840c7afa
          <section class="project-details">
            <%= f.input :title,
              label: "Project title",
              placeholder: "Project Name",
              wrapper_html: { class: "clearfix"},
              input_html: { autofocus: true } %>
          </section>

<<<<<<< HEAD
          <%= f.input :company,
            label: "Company",
            placeholder: "CWhich company did you work for?",
            wrapper_html: { class: "right clearfix"} %>
=======
>>>>>>> 886a86e97b522a612176b1ad8fcc5544840c7afa
          <div id="embedly-preview" class="selector-wrapper">
            <%= render "preview", project: @project, show_video: true%>

          </div>

<<<<<<< HEAD
          <%= f.input :media_url, placeholder:"Copy & Paste a link to an image or video",
=======
          <%= f.input :media_url, placeholder:"Copy & Paste a link to an image or video" ,
>>>>>>> 886a86e97b522a612176b1ad8fcc5544840c7afa
            wrapper_html: {class: "clearfix"},
            input_html: {class: "embed-link"} %>

          <%= f.input :company,
            label: "Company",
            placeholder: "Which company did you work for?",
            wrapper_html: { class: "right clearfix"} %>


          <nav class="navigation">
            <div class="project-tags">
              <ul class="user-skills project-skills">
                <%= f.input 'collaborator_skills', label: "What skills did you use?" do %>
                  <%= text_field_tag 'collaborator_skills', "",
                    label: "What skills did you use?",
                    class: "clearfix", id: "project_collaborator_skills",
                    placeholder: "skillz" %>
                <% end %>
              </ul>
            </div>
          </nav>


          <%= f.input :contribution,
            wrapper_html: { class: "clearfix"},
            placeholder: "How did you contribute to the project?",
            as: :text %>

          <%= link_to "Skip", users_feeds_path, class: "btn action" %>
          <%= f.submit class: "btn action"%>

        </div> <!-- project-details -->
      </div> <!-- span8 -->

      <section id="collaborators" class="project-pane span4">
        <header>
          <h4>Edit collaborators</h4>
        </header>
        <div class="user-dashboard-list-view">
          <ul class="user-dashboard-list-item-views">

            <%= f.input :tagged_user_ids,
              label: "Collaborators",
              placeholder: "Who did you worked with?",
              input_html:{
                value: @project.tagged_user_ids.join(",")
              } %>
          </ul>
          <ul class="user-dashboard-list-item-views">

          </ul>
        </div> <!-- user-dashboard-list-view -->
      </section>
      <br/>

    </div>
  <% end %>
</div> <!-- project-modal-content -->
<div class="background-blocker"></div>
</div>


<% content_for :dom_ready do %>
  <%= stylesheet_link_tag "project" %>
  <%= javascript_include_tag "project"%>
  <script>

    $('document').ready(function () {

      $('.embed-link').preview({
        key: '<%=Figleaf::Settings.embedly.api_key%>',
        render: function(obj, options){
          if(obj.thumbnail_url !== undefined){
            var $preview = $("#embedly-preview img");
            $preview.attr("src", obj.thumbnail_url);
          }
        },
        error: function (obj) {
          console.log('The URL you entered was not processed.');
        }
      });

      $("#project_collaborator_skills").tokenInput("/tags",
        {
          tokenValue: "name",
          prePopulate: <%=raw( @collaborator_skills)%>
      });

      $("#project_tagged_user_ids").tokenInput("/users.json",
        {
          hintText: "Enter name or email",
          tokenValue: "id",
          prePopulate: <%=
      raw(@project.tagged_users.collect do |u|
        {
          name: display_user_name(u, @project.creator != current_user) ,
          id: u.id
        }
      end.to_json)
    %>
      });

    });


  </script>

<% end %>
