<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @project.title %>
</p>

<p>
  <b>Company:</b>
  <%= @project.company %>
</p>

<% if @project.contribution.present? %>
  <p>
    <b>Contribution:</b>
    <%= @project.contribution %>
  </p>
<% end %>

<% if @project.preview_available? %>
  <p>
    <b>Video:</b>
    <%= @project.embed_url %>
  </p>
<% end %>

<% if @project.tags.any? %>
  <p><b>Tags:</b></p>
  <ul>
  <%@project.tags.each do |t|%>
    <li><%=t.name%></li>
  <%end%>
</ul>
<%end%>

<% if @project.start_at %>
  <p><b>Starting</p></b>
  <%=l @project.start_at, format: :long%>
<%end%>


<%= link_to 'Edit', edit_users_project_path(@project) %> |
<%= link_to 'Back', users_projects_path %>
