<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @project.title %>
</p>

<p>
  <b>Company:</b>
  <%= @project.company %>
</p>

<% if @project.contribution.present? %>
  <p>
    <b>Contribution:</b>
    <%= @project.contribution %>
  </p>
<% end %>

<% if @project.preview_available? %>
  <p>
    <b>Video:</b>
    <%= @project.embed_url %>
  </p>
<% end %>


<%= link_to 'Edit', edit_users_project_path(@project) %> |
<%= link_to 'Back', users_projects_path %>
