<tr>
  <td>
    <% if contact[:existing_id] %>
      <%= link_to "Connect",
        user_invitation_path(
          user: { email: contact[:email] },
          format: :json
      ),
        remote: true,
        data: { method: :post } %>
      <% else %>
        <%= link_to "Invite",
          user_invitation_path(
            user: { email: contact[:email] },
            format: :json
        ),
          remote: true,
          data: { method: :post }
        %>
      <% end %>
    </td>
    <td class="hidden-phone">
      <%= contact[:first_name] %>
    </td>
    <td class="hidden-phone">
      <%= contact[:last_name] %>
    </td>
    <td>
      <%= contact[:email] %>
    </td>
  </tr>

