<div class="well">
  <h3>Imported <%= @contacts.count %> contacts from <b><%= @importer %></h3>
</div>


<div class="span12">
  <table class="table">
    <tbody>

    <% @contacts.each do |contact| %>
      <tr>
        <td>
          <%= link_to "Invite",
                  user_invitation_path(
                          user: { email: contact[:email] },
                          format: :json
                  ),
                  remote: true,
                  data: { method: :post }
          %>
        </td>
        <td class="hidden-phone">
          <%= contact[:first_name] %>
        </td>
        <td class="hidden-phone">
          <%= contact[:last_name] %>
        </td>
        <td>
          <%= contact[:email] %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
