<div class="well">
  <h3>You have <%= @contacts.count %> contacts from <b><%= @importer %></b> Let's see who you want to invite.</h3>
</div>

<div class="span12">
  <table class="table">
    <tbody>
      <% @contacts.each_with_index do |contact, index| %>
        <%=render partial: "done" if index%10 == 0%>
        <%=render partial: "contact", locals: {contact: contact}%>
      <% end %>
    </tbody>
  </table>
  <%=render partial: "done"%>
</div>
