<div style="background-color:#cccccc;">
  <div align="center">
    <table width="550" border="0" cellpadding="0" cellspacing="0" ><tr><td class="imagecell">
          <%=link_to root_url, class:"linknodecor" do%>
            <%= image_tag "logos/email_header.jpg" %>
          <%end%>
      </td></tr>
      <tr>
        <td class="whitecell">
          <p class="body"><span class="bold">Great news <%= @inviter.communication_name %>,</span>
          <br><br>
          <span class="bold"><%= @invitee.email %></span> accepted your invitation to connect on
          <%=link_to "WeRKD", root_url%>.
          <br><br>
          Take a look at <%=link_to @invitee.email, user_url(@invitee)%>'s profile</a>, say hi, and see if there are projects you have worked together on.
        <br><br><br>

        </p>
      </td>
    </tr>
    <tr>
      <td height="50" bgcolor="#f0f0f0" style="padding-left:10px;">
      </td>
    </tr>
  </table>
</div>
</div>

